body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.wordle-line {
    display: flex;
    justify-content: center;
}

.wordle-word {
    border: 2px solid #878a8c;
    font-size: 2rem;

    margin: 2px;

    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bolder;
}

nav {
    padding: 0 16px;
    border-bottom: 2px solid #d3d6da;
    background: #f2f2f2;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 20px;
}

/* eventually flexed so this will change */
nav .title {
    text-align: center;
    font-weight: bolder;
    font-size: 37px;
}

main {
    margin: 0 10%;
}

.card {
    margin: 16px 0;
    border-bottom: 1px solid #d3d6da;
    border-top: 1px solid #d3d6da;
}